@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.navBar {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border-top: 2px;
  border-right: 0px;
  border-bottom: 2px;
  border-left: 0px;
  border-style: solid;
  border-color: #351d53;
  background-color: #351d53;
  height: 150px;
  z-index: 1000;
  align-items: center;
}

.navBarImg {
  width: 25%;
}

.navBarImg img {
  width: 300px;
  height: 170px;
}

.navBarImg a {
  width: 0%;
}

/*menu hamburguesa*/

/*css input*/
.nav__checkbox {
  display: none;
}
/*css label*/
.nav__toggle {
  position: absolute;
  cursor: pointer;
  margin: 01rem;
  right: 0;
}

.nav__toggle svg {
  width: 1rem;
  fill: #ffffff;
}

.nav__toggle .close {
  display: none;
}

.nav__toggle .close,
.nav__toggle .menu {
  margin-top: 0.3rem;
}

/*css menu*/
.nav__menu {
  align-items: center;
  display: flex;
  gap: 2rem;
  margin: 1rem;
  flex-direction: column;
}

.nav__menu li {
  display: none;
  list-style-type: none;
}

.nav__menu a {
  color: #ffffff;
  font-size: 1.1rem;
  text-decoration: none;
  font-family: "Nunito Sans";
}

.menu__logo {
  height: 150px;
  width: 150px;
}

/*css interacion*/
#nav__checkbox:checked ~ ul.nav__menu li {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none;
}

/* Sección barra de busqueda */
.container {
  width: 100%;
  min-height: 250px;
  background-image: linear-gradient(#351d53, #504c7e);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar {
  width: 100%;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  /* backdrop-filter: blur(4px) saturate(180%); Para lo borroso de la imagen de fondo */
}

.searchBar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding-left: 24px;
  font-size: 20px;
  color: #cac7ff;
}

.searchBar button img {
  width: 25px;
}
.searchBar button {
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #58629b;
  cursor: pointer;
}

::placeholder {
  color: #cac7ff;
}

/* Sección Destacados */

.destacados {
  text-align: center;
  color: #351d53;
  font-size: clamp(20px, 50px, 60px);
  font-family: "Poppins", sans-serif;
}
/* Sección bandas */

.seccionBandas {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}

.seccionBandasCarta {
  width: 300px;
  height: 350px;
  border-radius: 8px;
  transition: 1000ms all;
  transform-origin: center top;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.seccionBandasCarta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seccionBandasCarta:hover {
  cursor: pointer;
  transform: scale(1.15);
}

/* Sección Estadios */

.seccionEstadios {
  padding: 1rem;
}

.sliderContenedor {
  position: relative;
  max-width: 60rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.sliderNav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.sliderNav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 500%;
  background-color: #fafafa;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.sliderNav a:hover {
  opacity: 1;
}

.proximamente {
  text-align: center;
}

/* Sección H3 */

.seccionH3Proximamente {
  text-align: center;
  font-size: clamp(20px, 50px, 60px);
  color: #351d53;
  font-family: "Poppins", sans-serif;
}

/* Sección Próximamente */

.seccionProximamente {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
}

.seccionProximamenteCarta {
  width: 300px;
  height: 350px;
  border-radius: 8px;
  /* transition: 1000ms all;
    transform-origin: center top; */
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.seccionProximamenteCarta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seccionProximamenteCarta:hover {
  /* cursor: pointer; */
  /* transform: scale(1.15); */
}

/* Sección Estadios */
.secionH3Estadios {
  text-align: center;
  color: #351d53;
  font-size: clamp(20px, 50px, 60px);
  font-family: "Poppins", sans-serif;
}

/* Sección Footer */

.site-footer {
  font-size: 15px;
  background-image: linear-gradient(#504c7e, #351d53);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #ffffff;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.container2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container_footer {
  width: 40%;
  margin-left: 100px;
}

.container_footer h6 {
  text-align: center;
  padding-top: 20px;
}

.container_footer p {
  justify-content: center;
  font-size: 20px;
  color: #ffffff;
}

.container_quickLinks {
  margin-right: 200px;
  list-style: none;
  margin-bottom: 20px;
}

.container_quickLinks h6 {
  text-align: center;
  padding-top: 20px;
}

.container_quickLinks li {
  margin-top: 10px;
}

/* MQ */

/* Pantallas pequeñas */

@media (max-width: 768px) {
  .navBar {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .navBarImg {
    width: 50%;
    text-align: center;
  }

  .navBarImg img {
    width: 150px;
    height: auto;
  }

  .sliderContenedor {
    max-width: 100%;
  }

  .sliderNav {
    bottom: 0.5rem;
  }

  .seccionArtista {
    flex-direction: column;
  }

  .seccionArtista p {
    order: 1;
    width: 100%;
    margin-bottom: 20px; /* Añadimos un espacio entre el texto y el video */
  }

  .seccionArtista iframe {
    order: 2;
    width: 100%;
    height: auto;
  }

  .site-footer {
    margin-top: 10px;
  }

  .container_footer {
    margin-left: 0;
    width: 100%;
  }

  .container_quickLinks {
    margin-right: 0;
  }
}

/* Pantallas medianas */

@media (min-width: 769px) and (max-width: 1024px) {
  .navBar {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .navBarImg {
    width: 50%;
    text-align: center;
  }

  .navBarImg img {
    width: 150px;
    height: auto;
  }

  .seccionBandasCarta {
    width: 250px;
    height: 300px;
  }

  .seccionBandasCarta img {
    height: 100%;
  }

  .seccionProximamenteCarta {
    width: 250px;
    height: 300px;
  }

  .seccionProximamenteCarta img {
    height: 100%;
  }
}

/* /* pantallas grandes */

@media (min-width: 1025px) {
  .navBar {
    height: auto;
    align-items: center;
  }

  .navBarImg {
    width: 50%;
    text-align: center;
  }

  .navBarImg img {
    width: 150px;
    height: auto;
  }

  .seccionBandasCarta {
    width: 300px;
    height: 350px;
  }

  .seccionBandasCarta img {
    height: 100%;
  }

  .seccionProximamenteCarta {
    width: 300px;
    height: 350px;
  }

  .seccionProximamenteCarta img {
    height: 100%;
  }
}

/*barra de menu*/
@media only screen and (min-width: 1000px) {
  .nav__toggle {
    display: none;
  }

  .nav__menu {
    flex-direction: row;
  }

  .nav__menu li {
    display: block;
  }
}
